.App {
  text-align: center;
}
body {
  background-color: antiquewhite;
}

.all-items {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;

}

.detailImage {
  height: 250px;
  width: 250px;
}


nav {
  margin-bottom: 20px;
}

.about-title {
  margin-top: 20px;
}

.items-title {
  text-shadow:  -2px 0 rgb(30, 97, 71), 0 2px rgb(30, 97, 71), 2px 0 rgb(30, 97, 71), 0 -2px rgb(30, 97, 71);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-top: 10px;
  margin-left: 350px;
  padding-bottom: 30px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
}

footer {
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}