.App {
  text-align: center;
}

body {
  background-color: antiquewhite;
}

.all-items {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;

}

.comment-container {
  height: auto;
  max-height: 710px;
  width: auto;

}

.detailImage {
  height: auto;
  width: 370px;
  display: initial;
}


nav {
  margin-bottom: 20px;
}

.about-title {
  margin-top: 20px;
}

.items-title {
  text-shadow:  -2px 0 rgb(129, 112, 81), 0 2px rgb(129, 112, 81), 2px 0 rgb(129, 112, 81), 0 -2px rgb(129, 112, 81);
}

.about-container {
  display: inline-block;
	width: 40vw;
  height: 25.5vw;
  margin-left: 10px;
  margin-right: 10px;
	position: relative;
	text-align: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.single-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.user-text > * {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 12px;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}


.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
}

footer {
  padding-top: 5px;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media only screen and (max-width: 600px){
  body {
    font-size: 10px;
  }
}
